{% extends 'layouts/application.html.j2' %}
{% block title %}{{ super() }} - Dev Diary {% endblock %}
{% block content %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        Dev Diary
      </h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        Welcome to my Dev Diary! I'm documenting my journey building an AI Assistant, sharing experiences in artificial
        intelligence. Let's connect, learn, and grow together in this exciting adventure! 🚀🤖✨
      </p>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      {% for post in posts %}
      {% include 'posts/_post.html.j2' %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}