[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-flatpages = "*"
frozen-flask = "*"
pygments = "*"
flask-parcel = "*"
importlib-metadata = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = 'honcho start'
build = 'bash -c "yarn --cwd static/ install && yarn --cwd static/ build && python main.py build"'
