<!DOCTYPE html>
<html lang="en" class="bg-gray-900">

<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Akal1k0 {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}" />
  <link defer rel="stylesheet" href="{{ url_for('pygments_css') }}" async />
  <link async rel="stylesheet"
    href="{{ url_for('node_modules', filepath='flowbite-typography/dist/typography.min.css')}}" />
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  {#
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> #}
  {#
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> #}
  {#
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> #}
  {#
  <link rel="manifest" href="/site.webmanifest"> #}
  {#
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"> #}
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#000000">
  {% endblock %}
</head>

<body class="dark">
  {% with title = self.title() %} {% include 'shared/_nav.html' %} {% endwith
  %}
  <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
    <div class="px-4 mx-auto max-w-screen-xl">
      {% block content %}{% endblock %}
    </div>
  </main>
  <script src="{{ url_for('node_modules', filepath='flowbite/dist/flowbite.min.js') }}" async></script>
</body>

</html>