<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-W825QDQ9FQ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-W825QDQ9FQ');
    </script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🧑‍💻 Kris Quigley {% block title %}{% endblock %}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧑‍💻</text></svg>"
    />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
    <link rel="stylesheet" href="{{ url_for('pygments_css') }}" async />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/flowbite-typography/dist/typography.min.css')}}"
    />
    <meta
      name="description"
      content="Welcome to my Dev Diary! I'm documenting my journey building an AI
      Assistant, sharing experiences in artificial intelligence. Let's
      connect, learn, and grow together in this exciting adventure! 🚀🤖✨"
    />
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    {% endblock %}
  </head>

  <body>
    {% with title = self.title() %} {% include 'shared/_nav.html' %} {% endwith
    %}
    <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
      <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
        {% block content %}{% endblock %}
      </div>
    </main>
    <script
      src="{{url_for('static',filename='node_modules/flowbite/dist/flowbite.min.js')}}"
      async
    ></script>
  </body>
</html>
