{% extends 'layouts/application.html' %} {% block title %} - About{% endblock %}
{% block content %}
<article
  class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
>
  <h2>Welcome to my Dev Diary! 🚀</h2>

  <p>
    As a passionate developer and AI enthusiast, I've embarked on an incredible
    journey to build my very own AI Assistant. I've created this blog to
    document my experiences, discoveries, and milestones as I navigate the
    fascinating world of artificial intelligence.
  </p>

  <p>
    In the upcoming posts, you'll get an insider's look at the triumphs and
    challenges I face while developing my AI Assistant. From exploring the
    depths of machine learning algorithms to experimenting with natural language
    processing, I'll share the knowledge I gain and the lessons I learn along
    the way.
  </p>

  <p>
    But this blog is more than just a chronicle of my development process. It's
    also a platform for us to connect, learn, and grow together. I encourage you
    to join the conversation, ask questions, share your own experiences, and
    contribute to this ever-evolving field of AI.
  </p>

  <p>
    So, whether you're an experienced developer, an AI aficionado, or simply
    curious about the world of AI Assistants, I hope you'll find this Dev Diary
    both informative and inspiring.
  </p>

  <p>
    Stay tuned for exciting updates, and let's embark on this journey together!
    🤖✨
  </p>
</article>
{% endblock %}
